/* &display=swap */
@import "null.css";
/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
}
/* ================================================================ */
.block {
	background-color: red;
	background-image: url("../img/logo.png");
}
.block-2 {
	background-color: rgba(255, 230, 0, 0.1);
	background-image: url("../img/ava.png");
}
.block-3 {
	background: rgba(255, 230, 0, 0.1) url("../img/01.png");
}
.block-4 {
	background: red url("../img/list.svg");
}
.block-5 {
	background: -webkit-radial-gradient(center, ellipse cover, rgba(252,236,252,1) 0%,rgba(251,166,225,1) 50%,rgba(253,137,215,1) 51%,rgba(255,124,216,1) 100%);
}
.block-6 {
	background-color: red;
	background-image: url("../img/pozitivnye_kartinki_2.jpg");
	background-repeat: repeat;
}
.block-7 {
	background-color: yellowgreen;
	background-image: url("../img/Без\ названия.jpg");
	background-repeat: no-repeat;
}
.block-8 {
	background-color: yellow;
	background-image: url("../img/funny-ava-1-236x172.jpg");
	background-repeat: repeat-x;
}
.block-9 {
	background-color: grey;
	background-image: url("../img/images.jpg");
	background-repeat: repeat-y;
}
.block-10 {
	background-color: lightcoral;
	background-image: url("../img/ava.png");
	background-repeat: space;
}
.block-11 {
	background-color: blue;
	background-image: url("../img/ava.png");
	background-repeat: round;
}
.block-12 {
	background-color: skyblue;
	background-image: url("../img/avatarka.gif");
	background-repeat: no-repeat;
	background-position: left top;
}
.block-13 {
	background-color: lightpink;
	background-image: url("../img/avatarka.gif");
	background-repeat: no-repeat;
	background-position: center;
}
.block-14 {
	background-color: lightgreen;
	background-image: url("../img/avatarka.gif");
	background-repeat: no-repeat;
	background-position: 30% 66%;
}
.block-15 {
	background-color: sandybrown;
	background-image: url("../img/funny-ava-1-236x172.jpg");
	background-repeat: no-repeat;
	background-position: -8% 66%;
}
.block-16 {
	background-color: wheat;
	background-image: url("../img/01.png");
	background-repeat: no-repeat;
	background-position: 10px 20px;
}
.block-17 {
	background-color: orangered;
	background-image: url("../img/Без\ названия.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: auto auto;
}
.block-18 {
	background-color: aqua;
	background-image: url("../img/Без\ названия.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: 200px auto;
}
.block-19 {
	background-color: darkgreen;
	background-image: url("../img/Без\ названия.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: auto 60%;
}
.block-20 {
	background-color: silver;
	background-image: url("../img/Без\ названия.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
}
.block-21 {
	background-color: white;
	background-image: url("../img/list.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.block-22 {
	background-color: aqua;
	background-image: url("../img/pozitivnye_kartinki_2.jpg");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: auto;
	background-attachment: scroll;
}
.block-23 {
	background-color: purple;
	background-image: url("../img/табличка.png");
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size:  cover;
	background-attachment: fixed;
}
.item-list {
	background: url('../img/list.svg') 0 0 no-repeat;
	padding: 0px 0px 0px 25px;
}
.item-list-2 {
	background: url('../img/list.svg') 0 0 no-repeat;
	text-indent: 25px;
}
.item-list-3 {
	background: url('../img/list.svg') 0 0 no-repeat;
	padding: 0px 0px 0px 25px;
	margin: 0px 0px 5px 0px;
} 
.item-list-4 {
	background: url('../img/list.svg') 0 0px / 25px no-repeat;
	padding: 5px 0px 0px 35px;
	margin: 0px 0px 5px 0px;
} 
.item-list-5 {
	background: url('../img/list.svg') 0 0px / 25px no-repeat;
	min-height: 25px;
	padding: 4px 0px 0px 35px;
	margin: 0px 0px 5px 0px;
} 
.list-6 .list-6 {
	margin: 10px 0;
}
.item-list-6 {
	background: url('../img/list.svg') 0 0px / auto no-repeat;
	padding: 4px 0px 0px 25px;
	margin: 0px 0px 5px 0px;
} 
.sub-list {
	margin: 10px 0;
}
.item-sub-list {
	background: url('../img/logo.png') 0 0px / 15px no-repeat;
	padding: 4px 0px 0px 25px;
	margin: 0px 0px 5px 0px;
} 
.some-block {
	background: url('../img/01.png') center / cover no-repeat;
}	
.some-block-2 {
	background: url('../img/01.png') -300px -300px no-repeat;
}	
.some-block-3 {
	background: url('../img/01.png') -300px -300px no-repeat;
}
.some-block-4 {
	background: url('../img/01.png') center  no-repeat, url('../img/logo.png') left/ 50px no-repeat, url('../img/ava.png')20px 30px/ 50px no-repeat;
}
.some-block-5 { 
	background: linear-gradient(47deg, rgba(219,237,212,1) 44%, rgba(148,187,233,1) 100%), url('../img/logo.png') 20px 30px/ 50px no-repeat;
}	
.image-block {
	float: left;
}
			
			
		
		
		
	

